.grade{
    background: rgba(52, 73, 94, 0.94);
    color: #ECF0F1;
    padding: 8px;
    border-radius: 5px
}
.cls{
    padding: 8px;
}
.text-white{
    color: rgb(255, 255, 255);
}
.x_point{
    position: relative;
}
.x_point .x_location{
    position:absolute;
    top:0px;
    left:15px;
}
